* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:'Serif Font';
    list-style: none;
    text-decoration: none;
}

header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.logo img{
    max-width:120px;
    height:auto;
    display: flex;
    align-items: center;
    margin-right: 10px !important;
}
.navmenu{
    display:flex;

}
.navmenu a{
    color:black;
    font-size:16px;
    text-transform:capitalize;
    padding:10px 20px;
    font-weight:400;
    transition:all .42s ease;
    font-style:;
}
.navmenu a:hover{
    color:#EE1C47;
}

.nav-icon{
    display:flex;
    align-items:center;
}

.nav-icon i{
    margin-right:20px;
    color:#2c2c2c;
    font-size:25px;
    font-weight:400;
    transition : all .42s ease;

}
.navicon i:hover{
    transform:scale(1.1);
    color:#EE1C47;
}
#menu-icon{
    font-size:35px;
    color:#2c2c2c;
    z-index:10001;
    cursor:pointer;

}

section{
    max-width: 1280px;
    margin: 0 auto;
    gap: 20px;
  }
.main-home{
    width:100%;
    height:100vh;
    background-image:url(../images/background-pic.png);
    background-position:center;
    background-size:cover;
    display:grid;
    grid-template-columns:repeat(1,fr);
    align-items:center;
    margin-top: 100px; 


}
.main-btn{
    display:inline-block;
    color:#111;
    font-size:16px;
    font-weight:500;
    text-transform:capitalize;
    border:2px solid #111;
    padding:12px 25px;
    transition:all .42s ease;

}
.main-btn:hover{
    background-color:#000;
    color:#fff;


}
.main-btn i{
    vertical-align:middle;
    margin-left:5px;
}


/* cards start */

.shop-women {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px; 
    justify-content: space-between;
}

.product {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 12px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.product:last-child {
    margin-right: 0; 
}

.product img {
    max-width: 100%;
    height: auto;
    
}

/* login */
.card {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    color: black;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    text-align: left;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color:blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-register{
    height: 100vh;
  
  }
  .switch {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .switch a {
    color: blue;
    text-decoration: none;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  

  .btn{
    max-width: 120px;
    color: white;
    width: auto;
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.btn:first-of-type{
  background: #256eff;
} 

.container{
  max-width: 1280px;
  margin: 0 auto;
}
.loadMore{
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadMore button{
  padding: 10px 60px !important;
}